version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
    container_name: backend-dev
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "8080:8080"
    depends_on:
      - mysql

  frontend:
    image: ghcr.io/${GITHUB_ACTOR}/devops-mid-project/frontend:latest
    container_name: frontend-dev
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mysql_data: